$light-brown: #e8e6d7;
$medium-brown: #cbbca5;
$dark-blue: #152a6a;
$med-blue: #395099;
$light-blue: #3a2bed;
$very-light-blue: #cee0f2;

.nm-main {
    background-color: #152a6a;
    height:800px;
    width:100%;
}
.nm-container {
    height:800px;
    width:90%;
    padding:2em;
}